*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
    width: 800px;
    max-width: calc(100% - 5px);
    min-height: 500px;
    background-color: #add8e6; 
}
.slider{
    margin-top: 10px;
    height: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.slider input{
    display: block;
    margin: auto;
    margin-top: 5px;
}
.controls{
}
.grid{
    display: grid;
    min-height: 450px; 
}
.grid-item{
    border: 1px solid #9d9494;
}